<div class="container">
    <div class="user-details">
        <h1> Who am I </h1>
        <h4 style="margin-bottom: 10px">属蛇的天蝎做码农</h4>
        <h4 style="margin-bottom: 10px">爱拍个照好游个泳</h4>
        <h4 style="margin-bottom: 10px">三国杀转战狼人杀</h4>
        <h4 style="margin-bottom: 30px">还有台球和阿瓦隆</h4>
        <p> A photographer who can't write poetry is not a good programmer. </p>
    </div>
    <div class="row user">
        <div class="four columns">
            <h4>Back-End</h4>
            <i class="devicon-java-plain colored"></i>
            <i class="devicon-nginx-original colored"></i>
            <i class="devicon-linux-plain colored"></i>
            <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.</p>
        </div>
        <div class="four columns">
            <h4>Front-End</h4>
            <i class="devicon-react-original colored"></i>
            <i class="devicon-nodejs-plain-wordmark colored"></i>
            <i class="devicon-vuejs-plain colored"></i>
            <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.</p>
        </div>
        <div class="four columns">
            <h4>Tools</h4>
            <i class="devicon-git-plain colored"></i>
            <i class="devicon-babel-plain colored"></i>
            <i class="devicon-webpack-plain colored"></i>
            <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.</p>
        </div>
    </div>
    <div class="row user">
        <div class="four columns">
            <h4>Photograph</h4>
            <img style="width: 70px" src="/assets/img/lens.png"/>
            <img style="width: 70px" src="/assets/img/photoshop.png"/>
            <img style="width: 70px;" src="/assets/img/write.png"/>
            <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.</p>
        </div>
        <div class="four columns">
            <h4>Sports</h4>
            <img style="width: 70px;" src="/assets/img/billiards.png"/>
            <img style="width: 70px;" src="/assets/img/swim.png"/>
            <img style="width: 70px;" src="/assets/img/skii.png"/>
            <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.</p>
        </div>
        <div class="four columns">
            <h4>Board Games</h4>
            <img style="width: 70px;" src="/assets/img/sanguosha.png"/>
            <img style="width: 70px;" src="/assets/img/wolf.png"/>
            <img style="width: 70px;" src="/assets/img/Avalon.png"/>
            <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.</p>
        </div>
    </div>
</div>
