<div class="container">
    <div class="user-details">
        <h1> Who am I </h1>
        <h4 style="margin-bottom: 10px">属蛇的天蝎做码农</h4>
        <h4 style="margin-bottom: 10px">爱拍个照好游个泳</h4>
        <h4 style="margin-bottom: 10px">三国杀转战狼人杀</h4>
        <h4 style="margin-bottom: 30px">还有台球和阿瓦隆</h4>
        <p> A photographer who can't write poetry is not a good programmer. </p>
    </div>
    <div class="row user">
        <div class="four columns">
            <h4>Back-End</h4>
            <i class="devicon-java-plain colored"></i>
            <i class="devicon-linux-plain colored"></i>
            <i class="devicon-nginx-original colored"></i>
            <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.</p>
        </div>
        <div class="four columns">
            <h4>Front-End</h4>
            <i class="devicon-react-original colored"></i>
            <i class="devicon-vuejs-plain colored"></i>
            <i class="devicon-nodejs-plain-wordmark colored"></i>
            <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.</p>
        </div>
        <div class="four columns">
            <h4>Tools</h4>
            <i class="devicon-git-plain colored"></i>
            <i class="devicon-webpack-plain colored"></i>
            <i class="devicon-babel-plain colored"></i>
            <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.</p>
        </div>
    </div>
    <div class="row user">
        <div class="four columns">
            <h4>Photograph</h4>
            <img style="width: 70px" src="/assets/img/lens.png"/>
            <img style="width: 70px" src="/assets/img/photoshop.png"/>
            <img style="width: 70px;" src="/assets/img/write.png"/>
            <p>喜欢走走拍拍，穷且技术一般<br>为制作相片水印自学 PS，不会美颜<br>为发朋友圈配文不单一，硬写诗</p>
        </div>
        <div class="four columns">
            <h4>Sports</h4>
            <img style="width: 70px;" src="/assets/img/billiards.png"/>
            <img style="width: 70px;" src="/assets/img/swim.png"/>
            <img style="width: 70px;" src="/assets/img/skii.png"/>
            <p>台球社社长，然而打不过社中高手<br>自学四种泳姿，然而姿势都不标准<br>滑雪爱好新 get√，没有然而</p>
        </div>
        <div class="four columns">
            <h4>Games</h4>
            <img style="width: 70px;" src="/assets/img/sanguosha.png"/>
            <img style="width: 70px;" src="/assets/img/wolf.png"/>
            <img style="width: 70px;" src="/assets/img/Avalon.png"/>
            <p>装有古锭刀的许褚发动裸衣后<br>酒火杀装有藤甲空手牌的诸葛亮<br>到底会掉几点血</p>
        </div>
    </div>
</div>
