<div class="container">
  <div class="user-details">
    <h3> What's in here </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> My Blog </h5>
      <h3> 博客笔记 </h3>
      <p> 学习方面的笔记和心得 </p>
      <p> 工作方面的经验和总结 </p>
      <a class="project-link" href="/blog" target="_blank">Hello World</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> My Photo </h5>
      <h3> 诗和照片 </h3>
      <p> 那些年 </p>
      <p> 到过的远方和田野 </p>
      <p> 写过的几首小诗 </p>
      <p> 拍过的人们，还有故事 </p>
      <a class="project-link" href="/photo">远方的田野</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> My Resume </h5>
      <h3> 个人简历 </h3>
      <p> Talk is cheap, show you who I am. </p>
      <a class="project-link" href="/cv" target="_blank">WHO AM I</a>
    </div>
  </div>
</div>
