<div class="container">
  <div class="user-details">
    <h1> What is here </h1>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="blog" src="{{ "/assets/img/blog.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h3> My Blog </h3>
      <h5> 学习方面的笔记和心得 </h5>
      <h5> 工作方面的经验和总结 </h5>
      <a class="project-link" href="/blog" target="_blank">Hello World</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="photo" src="{{ "/assets/img/photo.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h3> My Photo </h3>
      <h5> 那些年，到过的远方和田野 </h5>
      <h5> 写过的几首小诗 </h5>
      <h5> 拍过的人们，还有故事 </h5>
      <a class="project-link" href="/photo" target="_blank">远方的田野</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="resume" src="{{ "/assets/img/resume.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h3> My Resume </h3>
      <h5> Talk is cheap </h5>
      <h5> Show you who I am </h5>
      <a class="project-link" href="/cv" target="_blank">WHO AM I</a>
    </div>
  </div>
</div>
