<div class="container">
    <div class="user-details">
        <h1>一城一诗一单反</h1>
        <h1>一灯一本一键盘</h1>
    </div>
    <div class="row user-projects">
        <div class="six columns images">
            <a href="/blog" target="_blank"><img src="{{ "/assets/img/blog.jpg" | prepend: site.baseurl }}" /></a>
        </div>
        <div class="six columns">
            <h3 style="margin-top:5px;margin-bottom:20px"> Blog </h3>
            <h5> 代码是写给人看的， </h5>
            <h5> 只不过， </h5>
            <h5> 最后让机器执行一下。 </h5>
            <a class="project-link" href="/blog" target="_blank">Hello World</a>
        </div>
    </div>
    <div class="row user-projects">
        <div class="six columns">
            <a href="/photo" target="_blank"><img src="{{ "/assets/img/photo.jpg" | prepend: site.baseurl }}" /></a>
        </div>
        <div class="six columns">
            <h3 style="margin-top:5px;margin-bottom:20px"> Photo </h3>
            <h5> 那些年，到过的远方， </h5>
            <h5> 写过的诗， </h5>
            <h5> 拍过的人们，还有故事。 </h5>
            <a class="project-link" href="/photo" target="_blank">诗和远方</a>
        </div>
    </div>
    <div class="row user-projects">
        <div class="six columns images">
            <a href="/resume" target="_blank"><img src="{{ "/assets/img/resume.jpg" | prepend: site.baseurl }}" /></a>
        </div>
        <div class="six columns">
            <h3 style="margin-top:5px;margin-bottom:20px"> Resume </h3>
            <h5> 还不错的我， </h5>
            <h5> 欢迎你， </h5>
            <h5> 了解一下。 </h5>
            <a class="project-link" href="/resume" target="_blank">Who Am I</a>
        </div>
    </div>
</div>
