<div id="particles-js">
    <div class="content">
        <h1>
            <span class="site-title"       style="font-size:49px" >{{site.username}}</span>
            <span class="site-description" style="margin-top:20px">{{site.nickname}}</span>
        </h1>
        <h1>
            <span class="site-description"><a class="link" href="#about"   data-scroll>借问少年你会啥</a></span>
            <span class="site-description"><a class="link" href="#catalog" data-scroll>摄影写诗撸代码</a></span>
        </h1>
        <div class="icons-header">
            <a aria-label="My Github"  href="https://github.com/{{site.username}}" target="_blank"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
            <a aria-label="Send Email" href="mailto:{{site.email}}"><i class="icon fa fa-envelope"></i></a>
            <a aria-label="Linked In"  href="https://www.linkedin.com/in/%E6%96%87%E8%B1%AA-%E7%8E%8B-47718a132/" target="_blank"><i class="icon fa fa-linkedin"></i></a>
        </div>
    </div>
    <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
